---
layout: default
title: "404: Страница не найдена"
permalink: 404.html
---

<div class="page">
  <h1 class="page-title">404: Страница не найдена</h1>
  <p class="lead">Извините, но этот URL указывает на несуществующую страницу. Попробуйте вернуться на <a href="{{ site.baseurl }}">главную</a> страницу.</p>
</div>
