---
layout: page
title: Блог
permalink: /blog/
description: "Архив постов, отсортированный по категориям."
---

<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

