---
title: Контакты
layout: page
description: Свяжитесь с нами, если хотите вступить в нашу группу!
category: contact
---
  <img src="../images/hacker.jpg"></img>

  <p>
    Чтобы связаться с нами, напишите на <b>cipollino_group@anonmai1ajah7ooz.onion</b>
    <pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----
mQINBFoNXjoBEAC30ssK3puD7NDFTKv4LMbh4NR1xt0xkdRVPKfKAPApBrJOCDQP
Fy537v7ndlBJwvNfvqvRLvwdd7YrQpCkTt+9a7u8sPWUkPHHxPEcoKLcPXXuRfr2
5Xqwou0mIz/VmT4zhRbFMo7E8po9737raNNJGuZVWA862zWaN5RLyfyerXuy7pTn
pbPNPMVco+vbGjQ2XIU9R/1CDOaHxzRJxxOSkwkRFQtrDlfeKk8WWV8l38s31vM9
bmgpQPw2VScZ4ZyGbz3YE1y83LY1NBJ6fnOfJ06xw6nAX42BgeJIDUY+SrPnw+Po
70mmFiLs+8zoML0+BZr74UHVM6H3nLjRaAGWFeRHYwc0dUkIsAARNOeYTu4aPzaf
OCSYw8FEDhZ3UoVrs4vqp3teqnhSqso4GtbLHNQGQh8EB9DScQFEQhR3B2YIgixj
vWR++olyygfaDM8zc1pRFzsddAkrXZ8fbGldn643HPNHU78TQPosw1+2hBSVYf4x
23Od75x4FZh6RyrLsCrIDSq5NxF0Jv7z8VYxhuW5n1PAnpS27068+sT5dWdcYYXu
XN1wD2k/i6a4FlXkiyb8GnS9m3lbDtkYyihZLJxmus/z1qac2QHo0qJ+OARfsHbZ
Rw8SdWM0ect901KTA5+KSz7DYrttw6MmhRc4M1sHiIewgezUyDu81Z1N7QARAQAB
tDtDaGlwb2xsaW5vIEZyaTNuZHMgPGNpcG9sbGlub19ncm91cEBhbm9ubWFpMWFq
YWg3b296Lm9uaW9uPokCNwQTAQgAIQUCWg1eOgIbAwULCQgHAgYVCAkKCwIEFgID
AQIeAQIXgAAKCRBr13ePVezFBGsAD/9eS1PANBdnWhjnoTo+jyJ06OvO5ZQpG6wE
zme611RN3XbSiuX0wUM9HWiMnyMHF6KZsv8aBSW7zifLaw5kMhIswC/2eMkXTQep
Zq/MkJ9CWX+SktjUtS2q2k9kxJT2La2YOm0GdQ1uwMK3DYYosRDxs9aWeNku0W95
t7Fc6LGSy1I25jzhQu7Mpk3RQWwSu+22QwlB0B593ifYEXbqizEYwCUPOnXib6yL
aFzrtsjOVXEHAkCKvIC+BHfKM3nz5k7wTz7zVi2cEiqoi+wCoPLk9S65WOmQg+nS
JJM4IhQ/8l+zDS8/FQ/ag37UD8Gl/v+fTT8i4pTzpOBipAL+eoHzGdCGQg8zeUWF
VLNGtiRTnkXcZiYvvUghBpNxfbolH/2ChsO5Z/nrc/AfXnwc+B9dLeEUdwYxlDIs
c+gitW8XC0gX0PaQnttqbjwp319i3+wg3qm1dCLJy7iaBzILC2f9pO8pL16PShfI
O0JYCFIyg78HpCR6HxXGjVkW9HjYnGdyx837i7vtw0BGh5roNduTCz88mN2YxFeQ
Du3mS1kVEwNjz4ovHpvSi8NJvdfJyY7HX373ykKS7/Bpj2RmmNOqWHB9bEu0lz0Q
TQN4u1XU6afLEPRchQ42+Jpc5KxSHJ5v5J4riB9LIgXouvR244fQ7rcZ5ituRAxC
0qm0MrOo1LkCDQRaDV46ARAAxghuLVPwArCXYyanq92CUqOFnAdNZx76fEAn1oL3
0BzTlwqG8FHB+F9e5TopCA72lybMXNc44F1VgJo74Ps7EF5oWzbVVCG9qBxskaeq
CVim3yHIkIVBT7vZlWbtNrzK7s/Gwd0a5bIzYI6i8gQTiCqKPIPBdv0ZHowgaMaZ
Tc9n4o0H+LmSwSqjHq7Jhf5JfIHGxQDKTy02W8NCWi2wEdLumo8BGKcAwH50drcZ
dvC/e162MVS39nLxZ+ksBlu6ZZPyKPSnMSlkjX86Thh7bibTMjXIdb416L0lRTla
745YYUHp5Xs/0QRDzD4WYl/sY0sGtJi4Mnt5HJfPAd7HruklaZDgU3LpiZZg7y8d
pUAdrX6rsijpfFdmVD5IlT75hf7v507i7jlpmm2Wzx7vihZc2lue+dpHObus3iKy
6MblNju2GFK8DaZgZ2SdW1f+g9c3NKopo4HyrGJdxrN7/y9QoPEdtnxIuXp23Uvc
LOejvBvwp0/MQJgVVWj0U0ZetPTj/dtZ0gSGk6j8oqKavZJjefQdBCg8RKnKEd/E
jeBGo6gSXpaYN9gubZbfO0XwTsUS6RUZIvdLMwFsMHPMiJPwXw2CC3wjFlQmZspz
V4isofNsFyGkVoaRxUO3sDUYPLYhc52aBba9wOPrPMV+B+SgU8SV32/G2A1joDKb
uDMAEQEAAYkCHwQYAQgACQUCWg1eOgIbDAAKCRBr13ePVezFBDpdD/95agfXPHf7
+udNWVdEPxzBomR6Sr+IgKfDWY8MoHjDmapsB+vZ+lGtyhIjvP9cy5botfodVMAT
LM5t4iGINe2ypxL/nEOD/074Yzr9+lE5ughiYDG1qVWQnP2JJIm2sR+dKNnctfgQ
HSruntbHosUKQlBAvBITwZd+kCP8XBIZXa0eo95Ath+fM31dTYG+ZPx7Jlci0K8V
4PV/PJEiVqTIBIHZO9VhKkvhF3fPShPuxVeSjgMZJb/sd2rFGAiCNh70bKWuhJ+W
di2WxTO/kuVtIae6tjdN2qtcxZ+CBzxZ10vBPpNdivvKYGsxh6I9mdq9f8IDbmU8
0ReRLxKzq51ujW28iFe1qkntIzCGUk2h3gW1EodVW3UqASDR/7kDpIc7cYjCAZ4M
3OGm61oPUWRmZW4id1WfzGUnQYTZzZnewaVx21xcK0ZGfZe4z7Jn6VdXeOfjh2jc
/qXf1wsshBlImSktjiSaLZuajxPT197cGwhb5lvtH335JT+lzg5Mx/ckhPWGFV/X
V6bVZJ+zD0xGgcnbHKsqGFjd/XGEWU69eA7BAh0GDmn9EwOFjh5ufm06yvWRfVix
Y+p4Z7+WJWY3R6ALbekGuZEAdZ56S/N8XllZyU6h2bc4T1Vol225wNhJEhXYZKdu
cWshy+FHDrUOIRMcyGG00zk33jGNFgpb/pkCDQRaDV7JARAA0ppDFmDh0XL7JosI
1fkQqCYuIKr/jSibR26FS7CAuGc6Vc1Bq95ZOXLWPrk5SUXiBvy0dsE+fIH249Nv
+jBWogf0fZLsqdCb+SMcYcWgw+kaSWHEbUKrL/r0+nTs3+QkarFoEV4Z2AUdyMF4
fKbcM/s7W4Tj49ZzGPD2Oq9BwQRRKgp1wdYg1o8bRXKg9prdbx41ow7AZ757W7FX
dcDV7v8KRQ1ViJYwL2iXugIRMu5lImSJz8M4pdB/qV9yhYLcOQjPzz6EnLzQ/Xhc
MEVrzywWLp3G0oXMWmFhBmAd9Iu7wXzOErua0eMhBrGJfOPj835I8LX30BCaGQuV
iSv7chf0AVlY8/PHct6k5TaZ+0IBaHKWaG88pMKcXLeRnKD4fMvN1UxyaNmvb/dR
kwlwaX/BsoNXQfXIfjVEPeRskbyVL1zIAM0Vc+kQRfqpgLsA3qu9+MdZPFSf0Fkh
rwg8LuIr82UZM53+dk4R2nCVnu0Hwblm5z7SUquLTeAyIMeyJs2YwY4VCTOfJCVG
Pwf/ys3/oqyOfJtbLw7q5K/lARukuvQIDl1bjStAscrRRgWnxZMT3YnDytfCc4d7
+fCBB1cKOHYthd401xWMOXONg4M7eVS1ajgzTBEqp9511qvmEeX01EsBjWQeFacj
MuxnaH/ItWI+NL88pu/+1JZsYE0AEQEAAbRJQ2lwb2xsaW5vIEdyb3VwIChQdWJs
aWMgQ29udGFjdCkgPGNpcG9sbGlub19ncm91cEBhbm9ubWFpMWFqYWg3b296Lm9u
aW9uPokCNwQTAQgAIQUCWg1eyQIbAwULCQgHAgYVCAkKCwIEFgIDAQIeAQIXgAAK
CRCmkZ0cbszZvbtUEACXuP5glfgeKZ6USf5c77bXV+kwTbZ7kCFc+3JaY8aSpQbE
DTXnm0r3GytTS40a3j0q4D8LiqmINddN064TSZqAoc+CPQmkjc5uguk5VnxpgpH9
dS88QFA6hvDM6LxJ1YMP+aUtM8C2Al70m4Ql9XbacJ0lVx/2sX0avGQDetj6Br/G
o2CYv6p8uyVliGg3gaCMLK0dCFXpvbGHX7kXunWqnx8PFtG4wns9FOyfXqD2nk+b
zdzrJt0KdBRCc6n5fHCmxNe/D5e6VlX/o4eFGwr4yTWJ5zXTFPeFWmBJh6l0SA0O
LHGbxi8dKn+gZ6lClJYTPO2qCPIK8FyQW6VJ7Y5QNWomcewFQjco/DMS4u5Wy9ql
T2S/JTZrjUNnPF4wN46EB33nFUhTlt5WgGRJp0QtUmTfTmeNr0ua0S5CMpW2a2c5
dR7Vy7g60wbUFZKXDlx/P/PLn1Zt44QKVnhE2NKwFR6o98lksEC6w/Uja8HG9RcA
zWmdae4EAOruYVC/kN65jnPdgbSpzUi06MDzBE6z3tRz1WL2Fdt1FBDe47qD0gwJ
TGtLSPzWZjvMhpjq8s/9W1QBeaRsL781Yhe2o3WOjwmE8cKBOd0d8vignuFXCWbQ
eMftaDnPjJJAMQYBBJZ9aYcSWhld8S2fcZ/4N4+tvtCoI5oo6S2IN5ssnX7+57kC
DQRaDV7JARAAmHb1eWCaQR3YbnRWFY+BX4aYNI/g4jO8aewpmlYwMqtYWtcxK1Mo
5IKGwoWGHF6ffJJNVlzTzHuKk/N2ipWszVsgahMa9NY3/A0oZEzZrbNJxDUbvwHl
hOwldmaTrFqVFyfnYyAOsAx2Ch5qRW9CzVnPmbKc51X8xvbdiWq7H96iShIi0Jz2
7C68LmHn1dWhj8G4fue1A4xfo1NkSM+2dOfVM5a2B4Z9s/TBxx6eukxlUntz71jd
mk8S/Rx/PBWhnlpB2lUhZsJrVGxlbA/faGLJCl6PU0vipMVi8Ya3eQHRrdzmzMfF
NWVE3V/rD0cY0AZkMRjM7en6PRScE91MHzAPQ1bRxyhhu/QOQNAw99ZXELMRav7x
MvqKk7Ukl3ylTzEQjeJuk+JwQctkPojTox19dIgoceIDxyeUYriqGG7zFzD1E2LF
tgjJJyKOXaQZc3E8aYlZg+wKlX7wvI4NAh3UiSKFIccoA/5MYGq54AaDpnxLwRwX
CBkdqfaMpLo7T/wQa3FG0jsRFnAAbs+1QS+fvRClN3pcY02L0XRUBAbvidaxCO/p
yEWJ9EVtLjf+GUQYvEeUqDkAwRQhUw0gcTg2OKT1JMgkRwz4rexeivmkKVEDhGfQ
4P/YVoSCBNTHo6tJ/F9+OhcYpJhJvFQREDktJoLWeuXAh1G4LfLpuykAEQEAAYkC
HwQYAQgACQUCWg1eyQIbDAAKCRCmkZ0cbszZvTtJEAC+BGvyVY5XMuxQF+WeF5cg
w6knDyGG9IMMPgtige07xGhKgn+kTj2QiVg35yfiqIfK2pojrAisV/ud5ly/OaD8
jt0xMr5NaBZKGb4jelQVl9jRVi1I1VrnbxgjqKIzTTHKOutfQ2xKK2HIZ1+BzE4b
2T3jdzElvdHZIod67sUFTxVnfQUu7s7N9GTtb05fVQ12WlHBoawP1qM50AMKeJ3o
S0Rg+fhpiPbiguCVd0H+3aTPP87/iGMxPEi5oQnQeO9LSpkMaM2RCPwL4WDNNOZh
nHUxwxSm3Fl4MonEPYHTHXADOv/oTQaJ7ksQ5JmiGLvjObeNQQy0ZNkwKrdvub96
SW/GF2E5MLUyamUYMpz4Q2P15THEzPEJZCjpxILBWVhT1jbxYbprAJEfSfaG72Aj
aWmGRIkzRGBC1auciLj+2ZewOPdKolqtIwLX6I1pdTQ/r3lxTpQg1NB18uiBLtRR
767x3FrZHljan6B2ltwb8U5z/XXBl3STKew5TISyhVg8tX0YNc/bVM8pVA3f7Lpe
hcznZxzGeQDGRqsUZqy93z+3hC5ym+lX10JSWtXl/6r/jFVjN5rKDO59+aFpfpCJ
5MJz1FInfGpA3j/Oh3eH7ozn2qkqQmGNs99krT0T0eWOPbobRSdVGL3bENXCMtm6
2ELKU4jAZP73FwrePCYWZQ==
=b1PP
-----END PGP PUBLIC KEY BLOCK-----
  </pre>
  </p>

